<template>
    <div>
        <h2>Отделы</h2>
        <spinner v-if="isBusy" />
        <template v-else>
            <div class="text-right mb-2">
                <router-link :to="{ name: 'departments.create'}" class="btn btn-sm btn-primary">
                    Создать отдел
                </router-link>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <th>Название</th>
                <th class="text-center">Количество сотрудников</th>
                <th class="text-center">Максимальная заработная плата</th>
                <th style="width: 220px"></th>
                </thead>
                <tbody>
                <tr v-for="(department, index) in departments">
                    <td class="text-left">
                        <router-link :to="{ name: 'departments.edit', params: {'id': department.id}}" class="btn btn-sm btn-link">
                            {{ department.title }}
                        </router-link>
                    </td>
                    <td class="text-center">
                        {{ department.worker_count }} шт.
                    </td>
                    <td class="text-center">
                        {{ department.max_worker_salary }} BYN
                    </td>
                    <td class="text-center">
                        <router-link :to="{ name: 'departments.delete', params: {'id': department.id}}" class="btn btn-sm btn-danger">
                            Удалить
                        </router-link>
                        <router-link :to="{ name: 'departments.edit', params: {'id': department.id}}" class="btn btn-sm btn-success">
                            Редактировать
                        </router-link>
                    </td>
                </tr>
                </tbody>
            </table>
        </template>
    </div>
</template>

<script>
    import Spinner from "../components/Spinner"

    export default {
        components: {
            Spinner,
        },
        data: () => ({
            departments: [],
            isBusy: false
        }),
        metaInfo() {
            return {
                title: "Отделы"
            }
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.isBusy = true;

                let departments_response = await axios.get('/api/department')
                this.departments = departments_response.data['data'];

                this.isBusy = false;
            },
        },
    }
</script>