<template>
    <div>
        <h2 v-if="id">Редактирование отдела</h2>
        <h2 v-else>Создание отдела</h2>
        <spinner v-if="isBusy" />
        <template v-else>
            <form @submit.prevent="submitForm" @keydown="form.onKeydown($event)">
                <div class="form-group row has-error">
                    <label for="title" class="col-sm-2 col-form-label">Название</label>
                    <div class="col-sm-10">
                        <input required v-model="form.title" type="text" class="form-control" id="title" :class="{ 'is-invalid': form.errors.has('title') }">
                        <has-error :form="form" field="title"/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">
                            Сохранить
                        </button>
                        <router-link v-if="id" tag="button" :to="{ name: 'departments.delete', params: {'id': id}}" class="btn btn-danger">
                            Удалить
                        </router-link>
                        <router-link tag="button" :to="{ name: 'departments' }" class="btn btn-warning">
                            Отмена
                        </router-link>
                    </div>
                </div>
            </form>
        </template>
    </div>
</template>

<script>
    import Form from 'vform'
    import Spinner from "../components/Spinner"
    import HasError from "../components/HasError"

    export default {
        name: "departments_edit",
        props: ['id'],
        components: {
            Form,
            HasError,
            Spinner
        },
        metaInfo() {
            return {
                title: this.id ? "Редактирование отдела" : "Создание отдела"
            }
        },
        data: () => ({
            department: null,
            isBusy: true,
            form: new Form({
                title: '',
            })
        }),
        mounted() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.isBusy = true;

                if (this.id) {
                    let response = await axios.get('/api/department/' + this.id);
                    this.department = response.data['data']
                    this.form.title = this.department.title
                }

                this.isBusy = false;
            },

            async submitForm() {
              if (this.id)
                  await this.storeData();
              else
                  await this.postData();
            },

            async storeData() {
                this.isBusy = true;
                try {
                    const {data} = await this.form.put('/api/department/' + this.id);
                    this.$toast.success('Данные успешно сохранены');
                    this.$router.push({ name: 'departments' });
                } catch (e) {
                    this.isBusy = false;
                }
            },

            async postData() {
                this.isBusy = true;
                try {
                    const {data} = await this.form.post('/api/department');
                    this.$toast.success('Данные успешно сохранены');
                    this.$router.push({ name: 'departments' });
                } catch (e) {
                    this.isBusy = false;
                }
            }
        },
    }
</script>

<style scoped>

</style>