<template>
    <div>
        <h2>Удаление отдела</h2>
        <spinner v-if="isBusy" />
        <template v-else>
            Вы действительно хотите удалить отдел <span class="text-primary">{{department.title}}</span>?
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-danger" @click.prevent="deleteData">Удалить</button>
                <router-link tag="button" :to="{ name: 'departments' }" class="btn btn-warning">
                    Отмена
                </router-link>
            </div>
        </template>
    </div>
</template>

<script>
    import Spinner from "../components/Spinner"

    export default {
        name: "departments_delete",
        props: ['id'],
        components: {
            Spinner,
        },
        data: () => ({
            department: null,
            isBusy: true
        }),
        metaInfo() {
            return {
                title: "Удаление отдела"
            }
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.isBusy = true;

                let response = await axios.get('/api/department/' + this.id);
                this.department = response.data['data'];

                this.isBusy = false;
            },

            async deleteData() {
                this.isBusy = true;
                try {
                    await axios.delete('/api/department/' + this.id);
                    this.$toast.success('Данные успешно удалены');
                    this.$router.push({ name: 'departments' });
                } catch (e) {
                    this.isBusy = false;
                }
            }
        },
    }
</script>

<style scoped>

</style>