<template>
    <div>
        <h2>Сетка</h2>
        <spinner v-if="isBusy" />
        <template v-else>
            <table class="table table-striped table-bordered">
                <thead>
                    <th></th>
                    <th class="align-middle text-center" v-for="(department, index) in departments" style="max-width: 100px;">
                        <router-link :to="{ name: 'departments.edit', params: {'id': department.id}}" class="btn btn-sm btn-link">
                            {{ department.title }}
                        </router-link>
                    </th>
                </thead>
                <tbody>
                    <tr v-for="(worker, index) in workers">
                        <td class="text-left">
                            <router-link :to="{ name: 'workers.edit', params: {'id': worker.id}}" class="btn btn-sm btn-link">
                                {{ worker.first_name }} {{ worker.last_name }}
                            </router-link>
                        </td>
                        <td class="text-center text-danger" v-for="(department, index) in departments">
                            {{ displayStatus(worker, department) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
    </div>
</template>

<script>
    import Spinner from "../components/Spinner"

    export default {
        components: {
            Spinner,
        },
        data: () => ({
            workers: [],
            departments: [],
            isBusy: false
        }),
        metaInfo() {
            return {
                title: "Сетка"
            }
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.isBusy = true;

                let workers_response = await axios.get('/api/worker?with=departments');
                this.workers = workers_response.data['data'];

                let departments_response = await axios.get('/api/department?with=workers');
                this.departments = departments_response.data['data'];

                this.isBusy = false;
            },
            displayStatus(worker, department) {
                for(var i = 0; i < worker.departments.length; i++) {
                    if (worker.departments[i]['id'] == department['id'])
                        return "✓";
                }
                return "";
            }
        },
    }
</script>