<template>
    <div>
        <h2>Сотрудники</h2>
        <spinner v-if="isBusy" />
        <template v-else>
            <div class="text-right mb-2">
                <router-link :to="{ name: 'workers.create'}" class="btn btn-sm btn-primary">
                    Создать сотрудника
                </router-link>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <th class="align-middle text-center">Имя</th>
                    <th class="align-middle text-center">Фамилия</th>
                    <th class="align-middle text-center">Отчество</th>
                    <th class="align-middle text-center">Пол</th>
                    <th class="align-middle text-center">Заработная плата</th>
                    <th class="align-middle text-center">Отделы</th>
                    <th style="width: 220px"></th>
                </thead>
                <tbody>
                    <tr v-for="(worker, index) in workers">
                        <td>
                            {{ worker.first_name }}
                        </td>
                        <td>
                            {{ worker.last_name }}
                        </td>
                        <td>
                            {{ worker.middle_name }}
                        </td>
                        <td style="max-width: 100px">
                            {{ formatSex(worker.sex) }}
                        </td>
                        <td style="max-width: 100px">
                            {{ worker.salary }} BYN
                        </td>
                        <td>
                            {{ formatDepartments(worker.departments) }}
                        </td>
                        <td class="text-center">
                            <router-link :to="{ name: 'workers.delete', params: {'id': worker.id}}" class="btn btn-sm btn-danger">
                                Удалить
                            </router-link>
                            <router-link :to="{ name: 'workers.edit', params: {'id': worker.id}}" class="btn btn-sm btn-success">
                                Редактировать
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
    </div>
</template>

<script>
    import Spinner from "../components/Spinner"

    export default {
        components: {
            Spinner,
        },
        data: () => ({
            workers: [],
            isBusy: false
        }),
        metaInfo() {
            return {
                title: "Сотрудники"
            }
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.isBusy = true;

                let workers_response = await axios.get('/api/worker?with=departments')
                this.workers = workers_response.data['data'];

                this.isBusy = false;
            },
            formatSex(sex) {
                if (sex == "male")
                    return "Мужчина";
                else if (sex == "female")
                    return "Женщина";

                return "Alien";
            },
            formatDepartments(departments) {
                let arr = [];
                departments.forEach(function (item) {
                    arr.push(item.title);
                })

                return arr.join(", ");
            }
        },
    }
</script>