<template>
    <div>
        <h2 v-if="id">Редактирование сотрудника</h2>
        <h2 v-else>Создание сотрудника</h2>
        <spinner v-if="isBusy"/>
        <template v-else>
            <form @submit.prevent="submitForm" @keydown="form.onKeydown($event)">
                <div class="form-group row has-error">
                    <label for="first_name" class="col-sm-2 col-form-label">Имя</label>
                    <div class="col-sm-10">
                        <input required v-model="form.first_name" type="text" class="form-control" id="first_name"
                               :class="{ 'is-invalid': form.errors.has('first_name') }">
                        <has-error :form="form" field="first_name"/>
                    </div>
                </div>
                <div class="form-group row has-error">
                    <label for="last_name" class="col-sm-2 col-form-label">Фамилия</label>
                    <div class="col-sm-10">
                        <input required v-model="form.last_name" type="text" class="form-control" id="last_name"
                               :class="{ 'is-invalid': form.errors.has('last_name') }">
                        <has-error :form="form" field="last_name"/>
                    </div>
                </div>
                <div class="form-group row has-error">
                    <label for="middle_name" class="col-sm-2 col-form-label">Отчество</label>
                    <div class="col-sm-10">
                        <input required v-model="form.middle_name" type="text" class="form-control" id="middle_name"
                               :class="{ 'is-invalid': form.errors.has('middle_name') }">
                        <has-error :form="form" field="middle_name"/>
                    </div>
                </div>

                <div class="form-group row has-error">
                    <label for="salary" class="col-sm-2 col-form-label">Зарплата</label>
                    <div class="col-sm-10">
                        <input required v-model="form.salary" type="number" min="0" step="1" class="form-control" id="salary"
                               :class="{ 'is-invalid': form.errors.has('salary') }">
                        <has-error :form="form" field="salary"/>
                    </div>
                </div>

                <div class="form-group row has-error">
                    <label class="col-sm-2 col-form-label">Отделы</label>
                    <div class="col-sm-10">
                        <div v-for="option in options" :key="option.id">
                            <label>
                                <input type="checkbox" v-model="form.departments" :value="option.id"/> {{option.title}}
                            </label>
                        </div>
                        <input type="hidden" class="form-control" :class="{ 'is-invalid': form.errors.has('departments') }" />
                        <has-error :form="form" field="departments"/>
                    </div>
                </div>

                <div class="form-group row has-error">
                    <label for="middle_name" class="col-sm-2 col-form-label">Пол</label>
                    <div class="col-sm-10">
                        <input type="radio" id="male" value="male" v-model="form.sex">
                        <label for="male">Мужчина</label>
                        <br>
                        <input type="radio" id="female" value="female" v-model="form.sex">
                        <label for="female">Женщина</label>

                        <has-error :form="form" field="sex"/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">
                            Сохранить
                        </button>
                        <router-link v-if="id" tag="button" :to="{ name: 'workers.delete', params: {'id': id}}" class="btn btn-danger">
                            Удалить
                        </router-link>
                        <router-link tag="button" :to="{ name: 'workers' }" class="btn btn-warning">
                            Отмена
                        </router-link>
                    </div>
                </div>
            </form>
        </template>
    </div>
</template>

<script>
    import Form from 'vform'
    import Spinner from "../components/Spinner"
    import HasError from "../components/HasError"

    export default {
        name: "workers_edit",
        props: ['id'],
        components: {
            Form,
            HasError,
            Spinner
        },
        metaInfo() {
            return {
                title: this.id ? "Редактирование сотрудника" : "Создание сотрудника"
            }
        },
        data: () => ({
            worker: null,
            isBusy: true,
            form: new Form({
                first_name: '',
                last_name: '',
                middle_name: '',
                sex: 'male',
                salary: 0,
                departments: [],
            }),
            options: {}
        }),
        mounted() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.isBusy = true;

                if (this.id) {
                    let response = await axios.get('/api/worker/' + this.id + '?with=departments');
                    this.worker = response.data['data'];
                    this.form.first_name = this.worker.first_name;
                    this.form.last_name = this.worker.last_name;
                    this.form.middle_name = this.worker.middle_name;
                    this.form.sex = this.worker.sex;
                    this.form.salary = this.worker.salary;

                    for (let i = 0; i < this.worker.departments.length; i++) {
                        this.form.departments.push(this.worker.departments[i].id);
                    }
                }

                let response2 = await axios.get('/api/department/');
                this.options = response2.data['data'];

                this.isBusy = false;
            },

            async submitForm() {
                if (this.id)
                    await this.storeData();
                else
                    await this.postData();
            },

            async storeData() {
                this.isBusy = true;
                try {
                    const {data} = await this.form.put('/api/worker/' + this.id);
                    this.$toast.success('Данные успешно сохранены');
                    this.$router.push({ name: 'workers' });
                } catch (e) {
                    this.isBusy = false;
                }
            },

            async postData() {
                this.isBusy = true;
                try {
                    const {data} = await this.form.post('/api/worker');
                    this.$toast.success('Данные успешно сохранены');
                    this.$router.push({ name: 'workers' });
                } catch (e) {
                    this.isBusy = false;
                }
            }
        },
    }
</script>

<style scoped>


</style>