<template>
  <div id="app">
    <loading ref="loading"/>
    <Toasts></Toasts>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <router-link :to="{ name: 'home' }" class="navbar-brand">
          {{ appName }}
        </router-link>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li>
              <router-link :to="{ name: 'home' }" class="nav-link" active-class="active">
                Сетка
              </router-link>
            </li>
            <li>
              <router-link :to="{ name: 'workers' }" class="nav-link" active-class="active">
                Сотрудники
              </router-link>
            </li>
            <li>
              <router-link :to="{ name: 'departments' }" class="nav-link" active-class="active">
                Отделы
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Content -->
    <div class="container mt-5">
      <transition name="page" mode="out-in">
          <router-view/>
      </transition>
    </div>
  </div>
</template>

<script>
import Loading from './Loading'

import {mapGetters} from 'vuex'

export default {
    el: '#app',

    components: {
        Loading,
    },

    data: () => ({
        appName: window.config.appName
    }),

    metaInfo() {
        const {appName} = window.config

        return {
            title: "",
            titleTemplate: `%s · ${appName}`
        }
    },

    mounted() {
        this.$loading = this.$refs.loading
    }
}
</script>
