<template>
    <div class="px-4 py-4 d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "spinner"
    }
</script>

<style scoped>

</style>